.DS_Store

# wordpressの設定
src/.htaccess
src/index.php
src/license.txt
src/readme.html
src/wp-*.php
src/xmlrpc.php
src/wp-content/languages


# wordpress関連のサイト
/src/wp-admin
/src/wp-includes

# private
private

# default theme
src/wp-content/themes/twenty*
src/wp-content/themes/genesis
src/wp-content/themes/virtue
src/lp001/*
src/wp-content/plugins/all-in-one-seo-pack
src/wp-content/plugins/virtue-toolkit
src/wp-content/themes/aquasystem
src/wp-content/uploads

.idea/


